body{
    background-image: url(/assets/fundo_cidade.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.All{
    margin: 10vh;
    border: none;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 5vh ;
    box-shadow: 0px 0px 20px 3px black;
}

input{
    border-radius: 5px;
    border: none;
    height: 3vh;
    width: 35vh;
    text-align: center;
    font-size: 2.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: black;
}

label{
    font-size: 2.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

h1{
    font-size: 6vh;
    text-align: center;
}

a{
    background: blue;
    color: white;
    text-decoration: none;
    padding: 1vh;
    border-radius: 5px;

}

.Btn:hover{
    background-color: green;
    font-size: 2.6vh;
}

input:hover{
    padding: 0.5vh;
}